body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:769px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:112px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:1366px;
  height:111px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:704px;
  width:100px;
  height:60px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:727px;
  width:201px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:724px;
  width:120px;
  height:40px;
  font-size:20px;
}
#u976_img.mouseOver {
}
#u976.mouseOver {
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:687px;
  width:81px;
  height:81px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:687px;
  width:81px;
  height:81px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:150px;
  width:351px;
  height:351px;
  overflow:hidden;
  visibility:hidden;
}
#u982_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:351px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u982_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:300px;
  height:300px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:310px;
  width:108px;
  height:16px;
  font-size:13px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:150px;
  width:351px;
  height:351px;
  overflow:hidden;
  visibility:hidden;
}
#u987_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:351px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u987_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:300px;
  height:300px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:305px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:770px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:770px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:285px;
  width:300px;
  height:50px;
}
#u996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:404px;
  width:200px;
  height:50px;
  font-size:28px;
}
#u997_img.mouseOver {
}
#u997.mouseOver {
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:58px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:180px;
  width:193px;
  height:57px;
  font-size:48px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:354px;
  width:100px;
  height:16px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1001_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:17px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:644px;
  width:462px;
  height:16px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  white-space:nowrap;
}
