body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1016px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:758px;
  width:1366px;
  height:1015px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:500px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:38px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:1366px;
  height:38px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:38px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:719px;
  width:552px;
  height:38px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:721px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:720px;
  font-size:28px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:344px;
  width:1362px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:171px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:1107px;
  width:325px;
  height:170px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:53px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:1141px;
  width:260px;
  height:52px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1219px;
  width:78px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:1219px;
  width:78px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:137px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1304px;
  width:290px;
  height:136px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:53px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1335px;
  width:268px;
  height:52px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:91px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:800px;
  width:170px;
  height:90px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:33px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:820px;
  width:203px;
  height:32px;
  color:#FF0000;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:57px;
}
#u22p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:22px;
  width:50px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22p000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:54px;
  height:6px;
}
#u22p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:22px;
  height:22px;
}
#u22p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:26px;
}
#u22p002 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:3px;
  height:3px;
}
#u22p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:8px;
  height:6px;
}
#u22.compound {
  width:0px;
  height:0px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:821px;
  width:2px;
  height:45px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:14px;
  width:41px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 8.5px;
  -ms-transform-origin:21px 8.5px;
  -moz-transform-origin:21px 8.5px;
  -webkit-transform-origin:21px 8.5px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1171px;
  width:170px;
  height:16px;
  color:#FF0000;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:36px;
  height:22px;
}
#u26p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:30px;
  height:4px;
}
#u26p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:8px;
}
#u26p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u26p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u26p002 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u26p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:26px;
  height:26px;
}
#u26.compound {
  width:0px;
  height:0px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1178px;
  width:25px;
  height:2px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:49px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1337px;
  width:186px;
  height:48px;
  color:#FF0000;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:36px;
  height:22px;
}
#u30p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:2px;
}
#u30p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:32px;
  height:6px;
}
#u30p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u30p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u30p002 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u30p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:26px;
  height:26px;
}
#u30.compound {
  width:0px;
  height:0px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1353px;
  width:25px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:53px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:825px;
  width:138px;
  height:52px;
  text-align:center;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:801px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:1309px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:1112px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:155px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:917px;
  width:260px;
  height:154px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:33px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:945px;
  width:203px;
  height:32px;
  color:#FF0000;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:57px;
}
#u44p000 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:21px;
  width:48px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u44p000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:52px;
  height:8px;
}
#u44p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:22px;
  height:22px;
}
#u44p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:26px;
}
#u44p002 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:3px;
  height:3px;
}
#u44p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:6px;
  height:8px;
}
#u44.compound {
  width:0px;
  height:0px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:946px;
  width:2px;
  height:45px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:14px;
  width:41px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 8.5px;
  -ms-transform-origin:21px 8.5px;
  -moz-transform-origin:21px 8.5px;
  -webkit-transform-origin:21px 8.5px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:942px;
  width:231px;
  height:33px;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:918px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:1007px;
  width:80px;
  height:32px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:1007px;
  width:80px;
  height:32px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:137px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1469px;
  width:290px;
  height:136px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:53px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1500px;
  width:268px;
  height:52px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:1474px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:33px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:1481px;
  width:186px;
  height:32px;
  color:#FF0000;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:36px;
  height:22px;
}
#u60p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:2px;
}
#u60p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:32px;
  height:6px;
}
#u60p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u60p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u60p002 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u60p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:26px;
  height:26px;
}
#u60.compound {
  width:0px;
  height:0px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1497px;
  width:25px;
  height:2px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:91px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:1659px;
  width:226px;
  height:90px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:39px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:1684px;
  width:187px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1660px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1690px;
  width:230px;
  height:32px;
  color:#FF0000;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:82px;
  height:22px;
}
#u70p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:76px;
  height:2px;
}
#u70p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u70p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u70p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:8px;
  height:6px;
}
#u70p002 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-10px;
  width:22px;
  height:22px;
}
#u70p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:26px;
}
#u70.compound {
  width:0px;
  height:0px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:1705px;
  width:71px;
  height:2px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:558px;
  width:273px;
  height:163px;
  overflow:hidden;
  visibility:hidden;
}
#u72_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:163px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:162px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:161px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:33px;
  width:247px;
  height:116px;
  overflow:hidden;
}
#u75_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:7px;
  width:66px;
  height:16px;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:25px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC6600;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:60px;
  width:30px;
  height:30px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:60px;
  width:30px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:93px;
  width:53px;
  height:16px;
  text-align:center;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:92px;
  width:53px;
  height:16px;
  text-align:center;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:66px;
  width:30px;
  height:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:92px;
  width:53px;
  height:16px;
  text-align:center;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:116px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:7px;
  width:92px;
  height:16px;
  text-align:center;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:25px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC6600;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:60px;
  width:30px;
  height:30px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:68px;
  width:14px;
  height:14px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:60px;
  width:30px;
  height:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:93px;
  width:53px;
  height:16px;
  text-align:center;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:92px;
  width:53px;
  height:16px;
  text-align:center;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:66px;
  width:30px;
  height:20px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:92px;
  width:53px;
  height:16px;
  text-align:center;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:116px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:61px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:219px;
  height:60px;
  line-height:20px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:79px;
  width:72px;
  height:25px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:79px;
  width:72px;
  height:25px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u72_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:163px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:163px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:162px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:87px;
  height:32px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:118px;
  width:195px;
  height:32px;
  color:#999999;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:78px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:27px;
  width:164px;
  height:33px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:81px;
  width:35px;
  height:16px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:84px;
  top:31px;
  visibility:hidden;
}
#u130_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1191px;
  height:628px;
  background-image:none;
}
#u130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:628px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:627px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:306px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:593px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:1190px;
  height:592px;
  font-size:36px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:1186px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:14px;
  width:133px;
  height:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:9px;
  width:161px;
  height:16px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:5px;
  width:106px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC6600;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:3px;
  width:51px;
  height:27px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:-3px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:152px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:476px;
  width:270px;
  height:151px;
  font-size:28px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:266px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:152px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:476px;
  width:270px;
  height:151px;
  font-size:28px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:266px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:920px;
  top:726px;
}
#u148_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
  background-image:none;
}
#u148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:66px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:4px;
  width:51px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC6600;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  visibility:hidden;
  background-image:none;
}
#u148_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:53px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:144px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u148_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:5px;
  width:92px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:142px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:91px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:800px;
  width:260px;
  height:90px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:57px;
}
#u164p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:22px;
  width:50px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u164p000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:54px;
  height:6px;
}
#u164p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:22px;
  height:22px;
}
#u164p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:26px;
}
#u164p002 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:3px;
  height:3px;
}
#u164p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:8px;
  height:6px;
}
#u164.compound {
  width:0px;
  height:0px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:829px;
  width:2px;
  height:45px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:14px;
  width:41px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 8.5px;
  -ms-transform-origin:21px 8.5px;
  -moz-transform-origin:21px 8.5px;
  -webkit-transform-origin:21px 8.5px;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:834px;
  width:231px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:801px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:836px;
  width:188px;
  height:32px;
  color:#FF0000;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:155px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1007px;
  width:260px;
  height:154px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1008px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:61px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1045px;
  width:219px;
  height:60px;
  line-height:20px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1112px;
  width:72px;
  height:25px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1112px;
  width:72px;
  height:25px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:57px;
}
#u180p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:22px;
  width:50px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u180p000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:54px;
  height:6px;
}
#u180p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:22px;
  height:22px;
}
#u180p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:26px;
}
#u180p002 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:3px;
  height:3px;
}
#u180p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:8px;
  height:6px;
}
#u180.compound {
  width:0px;
  height:0px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:1061px;
  width:2px;
  height:45px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:14px;
  width:41px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 8.5px;
  -ms-transform-origin:21px 8.5px;
  -moz-transform-origin:21px 8.5px;
  -webkit-transform-origin:21px 8.5px;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1076px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:91px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1265px;
  width:260px;
  height:90px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1266px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1301px;
  width:231px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:57px;
}
#u190p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:21px;
  width:50px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u190p000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:54px;
  height:8px;
}
#u190p001 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:22px;
  height:22px;
}
#u190p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:26px;
  height:26px;
}
#u190p002 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:3px;
  height:3px;
}
#u190p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u190.compound {
  width:0px;
  height:0px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1286px;
  width:2px;
  height:45px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:14px;
  width:41px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 8.5px;
  -ms-transform-origin:21px 8.5px;
  -moz-transform-origin:21px 8.5px;
  -webkit-transform-origin:21px 8.5px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1301px;
  width:145px;
  height:32px;
  color:#FF0000;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
